<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.browser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.alex.browser.RecentTabsActivity"
            android:exported="true"
            android:label="Tabs" />
        <activity
            android:name="com.example.alex.browser.SettingActivity"
            android:exported="true"
            android:label="@string/setting" />
        <activity
            android:name="com.example.alex.browser.MainActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.alex.browser.history" />
        <activity android:name="com.example.alex.browser.bookmarks"
            android:label="@string/Bookmarks"/>

        <meta-data
            android:name="com.google.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name="com.example.alex.browser.ReaderActivity" />
    </application>

</manifest>